<?xml version="1.0" encoding="UTF-8"?>
<plugin>
   <extension point="com.change_vision.astah.ui.actionSets">
      <actionSet
            label="%action_set_label"
            visible="true"
            id="com.esom.esom.actionSet">
         <menu
               id="esom"
               label="%menu_group"
               path="tool/esom">
         </menu>
         <action
			   label="%menu_label"
               icon="icons/sample.gif"
               class="com.esom.TemplateAction"
               tooltip="%menu_tooltip"
               menubarPath="tool/esom/"
               id="esom">
         </action>
     </actionSet>
   </extension>
</plugin>
